.Favourites__containerImg {
  width: 744px;
  margin: 206px auto;
}
.Favourites__containerImg img {
  margin-bottom: 32px;
}
.Favourites__containerImg h1 {
  color: #1c1c1c;
  font-size: 22px;
  line-height: 28.6px;
  font-weight: 700;
  margin-bottom: 8px;
  font-style: bold;
}
.Favourites__containerImg p {
  color: #1c1c1c;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}
.Favourites__containerFavourites {
  width: 744px;
  padding-top: 16px;
  margin: 0 auto;

  display: flex;
}
.Favourites__favourites {
  margin-left: 105px;
  margin-right: 105px;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 42px;
}
