.WrapperUsers__container{
    width: 744px;
    height: 80px;
    margin: 0 auto;

    display: flex;
    align-items: center;
}

.WrapperUsers__circle{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #117DC1;
    margin-right: 24px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

}
.WrapperUsers__icon{
    width: 14px;
    height: 14px;
    color: #ffffff;
}
.WrapperUsers__container h1{
    color:#1C1C1C;
    font-size: 22px;
    line-height: 28.6px;
    font-weight: 500;   
}
